.Heading{
    border:solid;
    background-color:cyan;
}
.Image{
    border:solid;
    background-color: rgb(226, 37, 217);
}
.news{
    border:solid;
}
.admission{
    border:solid;
}
.social{
    border:solid;
}